html
  head
    title Redirect Page
    script(src=scriptPath)

  body
    h1 Welcome to the Redirect Page

    button(id="consentButton", data-redirect-uri=redirectUri, data-code=code, data-state=state) Click me to consent
